.page {
	background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url("../../img/73461.jpg") center;
	background-size: cover;
	width: 100%;
	min-height: 100vh;
	padding: 50px 0 50px 0;

	.container {
		width: 80%;
		margin: 0 auto;
	}
	.logo {
		width: 75px;
		margin: 0 auto;
		margin-bottom: 50px;
	}
	h2 {
		font-size: 32px;
		text-transform: uppercase;
	}
	p {
		padding: 25px 0 25px 0;
	}
	.menu li{
		display: inline-block;
	}
	.footer {
		padding: 100px 0;
	}
}